h1 {
	text-align: center;
}

.hidden {
	display: none;
}

nav,
body {
	background-color: #deb887;
}

#job-form {
	z-index: 1;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 50px;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
}

#job-form-content {
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 60%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	background-color: #888;
}

.edit-btn,
.delete-btn {
	border-radius: 10px;
	border-color: #0d6efd;
	padding: 15px 25px 15px 25px;
	background-color: #0d6efd;
	color: #fff;
}

.edit-btn:hover,
.delete-btn:hover {
	background-color: #0b5ed7;
	color: #fff;
}

table {
	text-align: center;
}

td {
	border: #000;
	border-width: 1px;
	border-style: solid;
	padding: 20px;
	font-size: 22px;
}
